.segue {
color: blue;
text-align: center;

}

#week1, #week2, #week3, #week4 {
text-align: center;
font-family: helvetica;
}

#myseniorproject {
color: blue;
text-align: center;
font-family: helvetica;
padding: 15px;
font-size: 200%;
}

#projecttitle {
color: green;
text-align: center;
font-family: helvetica;
padding: 15px;
}

#by {
color: blue;
text-align: center;
font-family: helvetica;
padding: 15px;
}

p {
text-align: center;
font-family: helvetica;
color: #4682B4;

}

body {
background-color: #FAEBD7;
}

#pleaselook {
color: green;
text-align: center;
font-weight: 15px;
}

table, td {
text-align: center;
border: 2px solid white;
padding: 10px;
border-spacing: 1px;
}

th {
color: #7B68EE;
font-weight: 30px;

}

#jumpto {
color: green;
}

#finalreflection {
color: #FF69B4;
font-weight: 30px;


}